.projects{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #282C36;
    padding: 2rem;    
    margin: 0 auto;
    width: 100%;
}

.projects h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
    font-weight: 400;
    color: #f6f6f6;
}

.projects-session{       
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
    align-items: center;  
    justify-content: center;  
}

.projects-cards{       
    margin: 0 auto;
}

.btn-vermais{
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 16px;
    width: 10%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .projects-session{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects{
        padding: 0;
        font-weight: 500;
        padding-bottom: 2rem;
    }

    .projects h1{
        margin: 0;
        padding: 2rem;
    }
    .btn-vermais{
        width: 20%;
    }
  }

@media screen and (max-width: 770px) {
    .projects-session{
        grid-template-columns: repeat(1, 1fr);
    }
  }  