.about-section {
  background-color: #282c36;
  display: flex;
  flex-direction: column;
  overflow: auto;  
  padding: 0 0 4em 0;
}
.about-section-img {
  justify-content: center;
  align-items: center;
  margin: 0 auto 2em auto;
}
.about-section-img img {
  width: 12em;
  border-radius: 10%;
}

.about-section p {
  margin-top: 1em;
  color: #f6f6f6;
  padding: 0 4em;
  font-size: 1.5em;
  text-align: center;
  font-weight: 200;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.titulo-about {
  font-size: 2.5em;
  text-align: center;
  margin: 2em auto 2em auto;
  color: #f6f6f6;
  font-weight: 400;
}

#about {
  background-color: #282c36;
}

@media screen and (max-width: 768px) {
  .titulo-about {
    margin: 1em;    
  }
  .about-section p {
    padding: 0.5em;
    color: #f6f6f6;
    font-size: 1em;
    line-height: 1.5em;
  }
}
