.navigation {
    background-color: #282C36;
    color: #f6f6f6;
    display: flex;
    font-size: 1rem;
    height: 3rem; 
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;    
    width: 100%;
    position: fixed;
    z-index: 1000
}

.nav-secundary{
    border: 2px #fafafa solid;
    border-radius: 2rem;
    padding: 0.5rem;    
    color: #f6f6f6;
    cursor: pointer;    
}

.nav-secundary:hover{
    color: #5B5B5B;
    background-color: #fafafa;      
}

.nav-primary ul{
    gap: 1rem;
    display: flex;    
    list-style: none;    
    cursor: pointer;  
}
.nav-secundary ul {
    display: flex;    
    list-style: none;    
    cursor: pointer;    
}

.nav-primary ul li a{
    text-decoration: none;
    color: #f6f6f6;
}

.nav-primary li:hover{    
    opacity: 200%;
    text-decoration: underline;
    display: flex;    
    list-style: none;    
    cursor: pointer;
    opacity: 70%;
}




