.tecnology{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    
}

.tecnology img{
    width: 8rem;
    height: 8rem;
    padding: 1REM;
}

.tecnology h4{
    font-size: 1.5rem;    
}
