footer{
    background-color: #E6E9ED ;
    padding: 2em;
}

h3{
    font-weight: bold;
    margin-bottom: 1em;
}

p{
    margin: 1em 0;
}

.contact-info-msg{
    display: flex;
}

#icone{
    width: 2em;
    height: 2em;
    margin-right: 1em;    
}