.top-section{   
    display: flex;
    justify-content: space-around; 
    padding: 8rem 4rem;
    background-color: #E6E9ED;
    min-height: 100vh;
}

.top-titulo{
    padding: 3rem;
    text-align:start;    
}

.top-titulo h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;    
}

.top-titulo p{
    font-size: 2rem; 
}
.top-icons{
    display: flex;    
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    padding-top: 5rem ;
}

.top-icons a img{
    width: 3rem;
}

.top-icons a img:hover{
    opacity: 70%;
}

.top-imagem img{
    width: 25rem;
    border-radius: 20%;
    margin:auto ;
    padding: 3rem;
}

@media screen and (max-width: 992px) {
    .top-section{
        flex-direction: column;
        padding: 0;
        margin: 0;     
        padding: 3rem 0;   
    }

    .top-titulo{
        padding: 1rem 0;  
        text-align: center;      
    }

    .top-imagem{
        display: flex;
        justify-content: center;
    }

    .top-imagem img{
        padding: 3rem;
    }
  }

@media screen and (max-width: 770px) {
    
  }