.top-section{   
    display: flex;
    justify-content: space-around;     
    background-color: #E6E9ED; 
    overflow: hidden;  
    padding: 8.5rem 4rem; 
}

.top-titulo{    
    text-align:start; 
}

.top-titulo h1{
    font-size: 3em;
    text-align: center;     
}

.top-titulo p{
    font-size: 2em; 
}
.top-icons{
    display: flex;    
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    padding: 2rem ;
}

.top-icons a img{
    width: 3em;
}

.top-icons a img:hover{
    opacity: 70%;
}

.top-imagem img{
    width: 20em;
    border-radius: 20%;
    margin:auto ;       
}

@media screen and (max-width: 992px) {
    .top-section{
        flex-direction: column;    
    }

    .top-titulo{         
        text-align: center;                  
    }

    .top-titulo h1{
        font-weight: 500;
    }

    .top-imagem{
        display: flex;
        justify-content: center;
    }   

    .top-imagem img{
        width: 15em;
        margin-top: 2rem;
    }
  }
