.top-section{   
    display: flex;
    justify-content: space-around; 
    padding: 8em 4em;
    background-color: #E6E9ED;    
}

.top-titulo{
    padding: 3em;
    text-align:start;    
}

.top-titulo h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;    
}

.top-titulo p{
    font-size: 2em; 
}
.top-icons{
    display: flex;    
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    padding-top: 5em ;
}

.top-icons a img{
    width: 3em;
}

.top-icons a img:hover{
    opacity: 70%;
}

.top-imagem img{
    width: 25em;
    border-radius: 20%;
    margin:auto ;
    padding: 3em;
}

@media screen and (max-width: 992px) {
    .top-section{
        flex-direction: column;
        padding: 0;
        margin: 0;     
        padding: 3em 0;   
    }

    .top-titulo{
        padding: 1em 0;  
        text-align: center;   
        margin-top: 3em;           
    }

    .top-titulo h1{
        font-weight: 500;
    }

    .top-imagem{
        display: flex;
        justify-content: center;
    }

    .top-imagem img{
        padding: 3em;
    }
  }
